*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

.NavBar{
    display:flex;
    align-items:center;
    gap:1rem;
    padding:1rem;
    background-color:black;
    border-radius: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 99.5%;
    z-index: 1000;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: inset 0 0 5px white;
}

.NavBar img{
    width:5rem;
    height:5rem;
    border-radius: 50%;
    border-color: white;
    border-style: solid;
    border-width: 2px;
}

.NavPages{
    list-style-type:none;
    display:flex;
    gap:1rem;
    font-size: 1rem;
}

.NavPages li a{
    text-decoration:none;
    color:white;
    font-weight:bold;
    cursor: pointer;
}

.NavPages li a:hover{
    color: rgb(194, 194, 194);
}

.Login{
    padding: 1rem;
    margin-left: 1rem;
    width: 6rem;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    margin-left :auto;
}

.Login:hover{
    box-shadow: inset 0 0 5px black;
}

.footer{
    justify-content: center;
    text-align: center;
    padding: 1rem;
    background-color: black;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 1rem;
    margin-top: 10px;

}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: space-between;
    padding: 1rem;
}

.movie-card img{
    width: 250px;
    height: 350px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid black;
}

.movie-card img:hover{
    box-shadow: 0 0 10px black;
}

.movie-card p{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0.5rem;
    cursor: pointer;
}

#home img{
    width: 99%;
    height: 48rem;
    margin-top: 8rem;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}

#tvshows h2{
    color: black;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 1rem;
    
}

